{% extends 'staff/base.html'%}
{% block breadcrumb-item %}<a class="breadcrumb-item" href="{% url 'services:all_service'%}">Servicios</a>{% endblock %}
{% block breadcrumb-item-active %}Editar categoría de servicio{% endblock %}
{% block title %}Editar categoría de servicio{% endblock %}
{% block content %}
{% load crispy_forms_tags %}

<div class="card shadow mb-4">
  
  <div class="card-body">
    <div class="row justify-content-sm-center h-100">
      <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
        <form method="POST" class="needs-validation" novalidate="" autocomplete="off" id="edit-category-form">
          <div class="mb-3">
                {% csrf_token %}
                {{ form|crispy }}
          </div>
          <div class="mb-3">
            <div class="d-flex align-items-center">
                <button id="submit_edit" type="submit" class="btn btn-primary m-1">
                    Guardar
                </button>
                <a href="{% url 'services:all_category_service' %}" class="btn btn-secondary m-1">
                  Cancelar
                </a>
                
            </div>
          </div>    
      </form>
      </div>
  </div>
  </div>
</div>


<script>
  document.addEventListener("DOMContentLoaded", () => {
    const submitBtn = document.querySelector("#submit_edit");
    const form = document.querySelector("#edit-category-form");

    submitBtn.addEventListener("click", async (event) => {
      event.preventDefault();

      // Check if any input is empty
      const inputs = form.querySelectorAll("input");
      let isEmpty = false;
      inputs.forEach((input) => {
        if (input.value.trim() === "") {
          isEmpty = true;
        }
      });

      if (isEmpty) {
        Swal.fire({
          title: "Error",
          text: "Por favor, complete todos los campos.",
          icon: "error",
          showCloseButton: true,
          showConfirmButton: false,
        });
        return;
      }

      try {
        const categoryId = {{ category.id }};
        const response = await fetch("/staff/category-service/" + categoryId + "/edit/", {
          method: "POST",
          body: new FormData(form),
        });

        if (response.ok) {
          await Swal.fire({
            title: "Se editó la categoría exitosamente.",
            icon: "success",
            confirmButtonText: "OK",
          });
          window.location.href = "/staff/category-service/all";
        } else {
          const modalContent = await response.json();

          Swal.fire({
            title: modalContent.title,
            text: modalContent.text,
            icon: "error",
            showCloseButton: true,
            showConfirmButton: false,
          });
          window.location.href = "/staff/category-service/all";
        }
      } catch (error) {
        Swal.fire({
          title: "Error",
          text: "Intente más tarde o comuníquese con el Administrador.",
          icon: "error",
          showCloseButton: true,
          showConfirmButton: false,
        });
      }
    });
  });
</script>


{% endblock %}