{% load static %}
<footer id="footer" class="footer-1">
    <div class="main-footer widgets-dark typo-light ">
    <div class="container">
    <div class="row">
      
    <div class="col-xs-12 col-sm-6 col-md-4" >
    <div class="widget subscribe no-box mr-auto" >
    <a class="footer-brand"  href="/">
        <img src="{% static 'home/images/logo.png' %}" style="max-width: 55%;
        max-height: 18%;">
    </a>
    </div>
    </div>
    
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="widget no-box">
            <ul class="thumbnail-widget">
                <li>
                    <div class="thumb-content"><a href="/">Inicio</a></div> 
                </li>
                <li>
                    <div class="thumb-content"><a href="{% url 'home:kirei_info' %}">Nosotros</a></div> 
                </li>
                <li>
                  <div class="thumb-content"><a href="{% url 'home:faq' %}">FAQ</a></div>
                </li>
                <li>
                    <div class="thumb-content"><a href="{% url 'home:services' %}">Servicios</a></div> 
                </li>
            </ul>
        </div>
    </div>
    
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="widget no-box">
          <h6 class="widget-title widget-title-uppercase">Seguinos en nuestras redes sociales</h6>
          <ul class="social-footer2">
            <li>
              <a title="WhatsApp" target="_blank" href="https://web.whatsapp.com/">
                <i class="fa fa-whatsapp social-icon" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a title="Instagram" target="_blank" href="">
                <i class="fa fa-instagram social-icon" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    </div>
    </div>
      
    
</footer>

<div class="footer-copyright">
  <div class="container">
      <div class="row">
          <div class="col-md-12 text-center">
              <p>&copy; Kirei 2023 </p>
          </div>
      </div>
  </div>
</div>