
{% extends 'home/base.html' %}
{% load static %}
{% block content %}
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <img src="{% static product.image.url %}" alt="{{ product.name }}" class="img-fluid">
      </div>
      <div class="col-md-6">
        <h1 class="mb-4">{{ product.name }}</h1>
        <h2>Descripción</h2>
        <p class="mb-4">{{ product.description }}</p>
        <h2>Precio $</h2>
        <p class="mb-4">{{ product.price }}</p>
        <h2>Stock</h2>
        <p class="mb-4">{{ product.stock }}</p>
        <h2>Categoría</h2>
        <p class="mb-4">{{ product.category }}</p>
        <div class="counter mb-4">
            <button class="minus-btn btn btn-secondary">-</button>
            <input type="text" id="quantity" name="quantity" value="1" min="1" class="quantity form-control d-inline-block w-25 mx-2">
            <button class="plus-btn btn btn-secondary">+</button>
        </div>
            <a onclick="addToCart()" class="add-to-cart-btn btn btn-primary" id="add-to-cart-btn"  data-product-id="{{ product.id }}"
            {% if not product.is_in_stock %}disabled{% endif %} >
                Agregar al carrito
            </a>
            <h1 id="message-container"></h1>
        {% if not product.is_in_stock %}
            <p class="text-danger mt-3">Sin stock</p>
        {% endif %}
    </div>
    </div>
  </div>

  <script>
    var quantityInput = document.querySelector('.quantity');
var addToCartButton = document.querySelector('#add-to-cart-btn');

// Disable the "Add to Cart" button if the quantity is greater than the available stock
quantityInput.addEventListener('input', function() {
    var quantity = parseInt(quantityInput.value);
    if (quantity > {{ product.stock }}) {
        addToCartButton.disabled = true;
        quantityInput.disabled = true;
    } else {
        addToCartButton.disabled = false;
        quantityInput.disabled = false;
    }
});

// Add event listeners to the plus and minus buttons to increment and decrement the quantity
var minusButton = document.querySelector('.minus-btn');
var plusButton = document.querySelector('.plus-btn');
minusButton.addEventListener('click', function() {
    var quantity = parseInt(quantityInput.value);
    if (quantity > 1) {
        quantityInput.value = quantity - 1;
        if (quantity - 1 <= {{ product.stock }}) {
            addToCartButton.disabled = false;
            quantityInput.disabled = false;
            document.getElementById('add-to-cart-btn').innerHTML = 'Agregar al carrito';
            
        }
    }
});
plusButton.addEventListener('click', function() {
    var quantity = parseInt(quantityInput.value);
    if (quantity <= {{ product.stock }}) {
        quantityInput.value = quantity + 1;
    }
    if (quantity + 1 > {{ product.stock }}) {
        addToCartButton.disabled = true;
        quantityInput.disabled = true;
        document.getElementById('add-to-cart-btn').innerHTML = 'SIN STOCK';
        
    } else {
        addToCartButton.disabled = false;
        quantityInput.disabled = false;
        document.getElementById('add-to-cart-btn').innerHTML = 'Agregar al carrito';
    }
});

    function addToCart() {
  // get the quantity input value
  var quantity = document.getElementById('quantity').value;

  // check if the quantity is greater than the available stock
  if (quantity > {{ product.stock }}) {
    document.getElementById('add-to-cart-btn').innerHTML = 'SIN STOCK';
    return;
  }

  // get the product ID from the data-product-id attribute
  var productId = document.getElementById('add-to-cart-btn').getAttribute('data-product-id');

  // construct the URL with the quantity and product ID
  var url = '/carts/many_items_add/' + productId + '/' + quantity + '/';

  // redirect to the URL
  window.location.href = url;
}

  
  </script>
{% endblock %}