{% extends 'home/base.html' %}

{% load static %}

{% block content %}
  <div class="container my-4">
    <h1>Productos</h1>

    <form class="mb-3" method="get">
      <div class="form-group">
        <label for="category">Filtrar por categoría:</label>
        <select class="form-control" name="category" id="category">
          <option value="">Todos</option>
          {% for category in categories %}
            <option value="{{ category.category }}" {% if category.category == selected_category %}selected{% endif %}>
              {{ category.category }}
            </option>
          {% endfor %}
        </select>
      </div>
      <button class="btn btn-primary" type="submit">Filtrar</button>
    </form>


    {% if products %}
      <div class="row">
        {% for product in products %}
          <div class="col-md-4 mb-4">
            <div class="card">
            <a href="{% url 'products:product_detail' product_name=product.name|slugify product_id=product.id %}">
                {% comment %} <img class="card-img-top" src="{% static product.image.url %}" alt="{{ product.name }}"> {% endcomment %}
                <img src="https://http2.mlstatic.com/intragen-sebum-balance-shampoo-purificante-pelo-graso-250ml-S_756594-MLA31643193166_072019-R.jpg" class="card-img-top" alt="...">

            </a>
              <div class="card-body">
                <a href="{% url 'products:product_detail' product_name=product.name|slugify product_id=product.id %}">
                <h2 class="card-title">{{ product.name }}</h2>
                </a>
                <p class="card-text">{{ product.price }}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <p>No se encontraron productos.</p>
    {% endif %}
  </div>
{% endblock %}
