{% extends 'home/base.html' %}

{% load static %}
{% load my_filters %}


{% block content %}


<div class="container mt-5 pt-5">
  <div class="row">
    <div class="col-md-3 py-5">
      <div class="container-breadcrumb">
        <nav class="breadcrumb">
          <a class="breadcrumb-item text-secondary" href="/">Inicio</a>
          <span class="breadcrumb-item active">Tienda</span>
        </nav>
      </div>
      <div class="card mt-5">
        <div class="card-body">
          <h5 class="card-title">Filtrar por precio</h5>

          <form method="GET" action="{% url 'products:product_catalog'%}">
            <div class="price_slider_wrapper position-relative my-4">
              <div class="d-flex justify-content-center">
                <input id="price_slider" 
                       type="range"
                       class="position-absolute top-0 start-50 translate-middle-x w-100 bg-transparent slider-primary" 
                       value="{{ selected_min_price|default:min_price }},{{ selected_max_price|default:max_price }}"
                       min="{{ min_price }}"
                       max="{{ max_price }}"
                       step="10"
                       oninput="updatePriceLabels()"/>                       
              </div>
          
              <div class="row g-0 align-items-center price_slider_amount my-4">
                <div class="col-8 text-center">
                  <div class="price_label">
                    <label class="visually-hidden" for="min_price">Precio mínimo</label>
                    <input type="text" id="min_price" name="min_price" value="{{ selected_min_price|default:min_price }}" data-min="{{ min_price }}" placeholder="Precio mínimo" class="form-control" style="display: none;">
                    <label class="visually-hidden" for="max_price">Precio máximo</label>
                    <input type="text" id="max_price" name="max_price" value="{{ selected_max_price|default:max_price }}" data-max="{{ max_price }}" placeholder="Precio máximo" class="form-control" style="display: none;">
                    Desde: <span class="from">${{ selected_min_price|default:min_price }}</span>  <span class="to visually-hidden">—${{ selected_max_price|default:max_price }}</span>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <button type="submit" class="btn btn-primary">Filtrar</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
            <div class="form-group">
                <h5 for="category">Categorías</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href="?category=" class="text-muted{% if not selected_category %}active{% endif %}" style="text-decoration: none;">Todos</a>
                        <span class="badge badge-secondary badge-pill">{{ products_total }}</span>
                    </li>
                    {% for category in categories %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      <a href="?category={{ category.category }}" class="text-muted{% if category.category == selected_category %}active{% endif %}" style="text-decoration: none;">
                        {{ category.category|convert_category_key }}
                      </a>
                        {% for name, cont in category_counts.items %}
                          {% if name == category.category %}
                            <span class="badge badge-secondary badge-pill">{{ cont }}</span>
                          {% endif %}
                          
                        {% endfor %}
                    </li>
                  {% endfor %}
                </ul>            
            </div>
        </div>
    </div>
    </div>
    <div class="col-md-9">
      <div class="container">
        <div class="row align-items-center mt-0">
          <div class="col-12 my-2">
            <h1 class="">Tienda</h1>
          </div>
        </div>
        <div class="row align-items-center mb-2">
          <div class="col-12 col-md-6">
            <p class="mb-0">Mostrando los {{ products.count }} resultados</p>
          </div>
          <div class="col-12 col-md-6 ">
            <form method="GET" action="{% url 'products:product_catalog'%}" class="form-inline d-flex justify-content-end" id="product-search-form">
              <label class="visually-hidden mr-2" for="orderby">Filtros</label>
              <select class="form-control" id="orderby" name="orderby" onchange="this.form.submit()">
                  <option>Ordene por ...</option>
                  <option value="price" {% if selected_orderby == 'price' %}selected{% endif %}>Ordenar por menor precio</option>
                  <option value="price-desc" {% if selected_orderby == 'price-desc' %}selected{% endif %}>Ordenar por mayor precio</option>
              </select>
              <input type="hidden" name="min_price" value="{{ selected_min_price|default:min_price }}">
              <input type="hidden" name="max_price" value="{{ selected_max_price|default:max_price }}">
            </form>
            
          
          </div>
        </div>

        {% if products %}
        
  <div class="row">
    {% for product in products %}
      <div class="col-12 col-md-4 mb-4">
        <div class="card"> 
          <a href="{% url 'products:product_detail' product_name=product.name|slugify product_id=product.id %}">
            <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}" style="height: 400px;">
          </a>
          <div class="card-body">
            <h7 class="card-category text-muted">{{ product.get_category_display }}</h7>
            <h4 class="card-title mb-5" style="height: 70px;">
              <a href="{% url 'products:product_detail' product_name=product.name|slugify product_id=product.id %}" style="text-decoration: none;color:black;">
                <strong>{{ product.name }}</strong>
              </a>
            </h4>
            <span class="price-amount">
              <bdi>
                <span class="price-currency-symbol">$</span>{{ product.price }}
              </bdi>
            </span>
            <br>
            {% if product.stock == 0  %}
            <a href=""  class="btn btn-secondary mt-3 disabled">SIN STOCK</a>
            {% elif product.stock >= 1 %}
            <a href="{% url 'carts:catalog_item_increment' product.id %}" data-quantity="1" class="btn btn-primary mt-3" data-product_id="{{ product.id }}" aria-label="Añade {{ product.name }} a tu carrito" rel="nofollow">Añadir al carrito</a>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  {% if is_paginated %}
  <nav aria-label="Product pages">
    <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if selected_category %}&category={{ selected_category }}{% endif %}{% if min_price %}&min_price={{ min_price }}{% endif %}{% if max_price %}&max_price={{ max_price }}{% endif %}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Anterior</span>
          </a>
        </li>
      {% endif %}
      {% for page in page_obj.paginator.page_range %}
        {% if page_obj.number == page %}
          <li class="page-item active"><a class="page-link" href="#">{{ page }}</a></li>
        {% elif page > page_obj.number|add:'-3' and page < page_obj.number|add:'3' %}
          <li class="page-item"><a class="page-link" href="?page={{ page }}{% if selected_category %}&category={{ selected_category }}{% endif %}{% if min_price %}&min_price={{ min_price }}{% endif %}{% if max_price %}&max_price={{ max_price }}{% endif %}">{{ page }}</a></li>
        {% endif %}
      {% endfor %}
      {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if selected_category %}&category={{ selected_category }}{% endif %}{% if min_price %}&min_price={{ min_price }}{% endif %}{% if max_price %}&max_price={{ max_price }}{% endif %}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Siguiente</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}

{% else %}
  <p>No se encontraron productos.</p>
{% endif %}

  </div>
</div>

<script>

  function updatePriceLabels() {
    var priceSlider = document.getElementById("price_slider");
  var minPrice = priceSlider.value.split(",")[0];
  var maxPrice = priceSlider.value.split(",")[1];
  if (maxPrice) {
    document.getElementById("max_price").value = maxPrice;
    document.querySelector(".to").innerHTML = "$" + maxPrice;
  }
  document.getElementById("min_price").value = minPrice;
  document.querySelector(".from").innerHTML = "$" + minPrice;
  }

  const orderbySelect = document.getElementById("orderby");
orderbySelect.addEventListener("change", function() {
  document.getElementById("product-search-form").submit();
});

</script>





{% endblock %}

