{% extends 'home/base.html' %}

{% block content %}
<h3 class= "mt-5 pt-5 mx-5 text-center"> 
    <strong>Preguntas Frecuentes</strong>
 </h3>
 <div class="row m-5">
     <div class="col-12">
             <div class="card mb-3">
                <div class="card-header" id="headingOne" data-target="#collapseOne" onclick="toggleAccordion('#collapseOne')">
                    <div class="row align-items-center">
                        <div class="col">
                          <h6><strong>1. ¿Qué es Kirei?</strong></h6>
                        </div>
                        <div class="col-auto">
                            <strong>
                              <i class="bi bi-chevron-down"></i>  
                            </strong>
                        </div>
                      </div>
                    </div>
                  <div class="card-content" id="collapseOne">
                    <div class="card-body">
                      <p>
                        <strong>Kirei</strong>
                         es una plataforma de software diseñada específicamente para centralizar la
                         <strong>reserva de turnos</strong>
                          y la
                          <strong>venta de productos</strong> 
                           en la estética "Kirei".</p>
                    </div>
                  </div>
                
            </div>
            <div class="card mb-3">
                <div class="card-header" id="headingTwo" data-target="#collapseTwo" onclick="toggleAccordion('#collapseTwo')">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6><strong>2. ¿Cuáles son los requisitos para utilizar Kirei?</strong></h6>
                        </div>
                        <div class="col-auto">
                            <strong>
                              <i class="bi bi-chevron-down"></i>  
                            </strong>
                        </div>
                      
                    </div>
                </div>
                  <div class="card-content" id="collapseTwo">
                    <div class="card-body">
                        <p>Para utilizar Kirei, necesitarás cumplir con los siguientes requisitos:</p>
                            <ul>
                            <li>Acceso a Internet</li>
                            <li>Un dispositivo compatible con un navegador web actualizado.</li>
                            <li>
                                <strong>Registro</strong>
                                 en la plataforma Kirei.</li>
                            </ul>
                    </div>
                  </div>
                
            </div>
            <div class="card mb-3">
                <div class="card-header" id="headingThree" data-target="#collapseThree" onclick="toggleAccordion('#collapseThree')">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6><strong>3. ¿Cómo puedo registrarme en Kirei?</strong></h6>
                        </div>
                        <div class="col-auto">
                            <strong>
                              <i class="bi bi-chevron-down"></i>  
                            </strong>
                        </div>
                    </div>
                </div>
                  <div class="card-content" id="collapseThree">
                    <div class="card-body">
                        <p>Para registrarte en Kirei, sigue estos pasos:</p>
                            <ol>
                            <li>Accede a la página de registro de Kirei.</li>
                            <li>Completa el formulario de registro con tu información básica.</li>
                            <li>Crea una contraseña segura.</li>
                            <li>Haz clic en 
                                <strong>"Registrar"</strong>
                                 para completar el proceso de registro.</li>
                            </ol>
                    </div>
                  </div>
                
            </div>
            <div class="card mb-3">
                <div class="card-header" id="headingFour" data-target="#collapseFour" onclick="toggleAccordion('#collapseFour')">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6><strong>4. ¿Qué servicios puedo reservar en Kirei?</strong></h6>
                        </div>
                        <div class="col-auto">
                            <strong>
                              <i class="bi bi-chevron-down"></i>  
                            </strong>
                        </div>
                    </div>
                </div>
                  <div class="card-content" id="collapseFour">
                    <div class="card-body">
                        <p>En Kirei, puedes reservar una
                            <strong>
                                amplia gama de servicios de belleza
                            </strong>
                            , que incluyen tratamientos faciales, corporales, servicios de depilación y masajes, entre otros.</p>
                    </div>
                  </div>
                
            </div>
            <div class="card mb-3">
                <div class="card-header" id="headingFive" data-target="#collapseFive" onclick="toggleAccordion('#collapseFive')">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6><strong>5. ¿Puedo comprar productos de cuidado de la piel en Kirei?</strong></h6>
                        </div>
                        <div class="col-auto">
                            <strong>
                              <i class="bi bi-chevron-down"></i>  
                            </strong>
                        </div>
                    </div>
                </div>
                  <div class="card-content" id="collapseFive">
                    <div class="card-body">
                        <p>Sí, en Kirei también puedes comprar productos de cuidado de la piel recomendados por los profesionales de la estética.</p>
                    </div>
                  </div>
                
            </div>
            <div class="card mb-3">
                <div class="card-header" id="headingSix" data-target="#collapseSix" onclick="toggleAccordion('#collapseSix')">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6><strong>6. ¿Qué debo hacer si no encuentro la respuesta que busco en las preguntas frecuentes?</strong></h6>
                        </div>
                        <div class="col-auto">
                            <strong>
                              <i class="bi bi-chevron-down"></i>  
                            </strong>
                        </div>
                    </div>
                </div>
                  <div class="card-content" id="collapseSix">
                    <div class="card-body">
                        <p>Si no encuentras la respuesta que buscas en las
                            <strong>
                                preguntas frecuentes(FAQ)
                            </strong>
                            , no dudes en ponerte en contacto con nuestro equipo de soporte utilizando el <strong>formulario de contacto</strong> ubicado en nuestra página principal. Estaremos encantados de brindarte la ayuda necesaria.</p>

                    </div>
                  </div>                
            </div>
     </div>
 </div>


  


<script>

    function toggleAccordion(id) {
        var content = document.querySelector(id);
        content.style.display = content.style.display === 'none' ? 'block' : 'none';
      }

  {% if value %}
    document.addEventListener("DOMContentLoaded", function() {
      document.getElementById("modal-open-login-btn").click();
    })
  {% endif %}

  {% if value_signup %}
    document.addEventListener("DOMContentLoaded", function(){
      document.getElementById("modal-open-register-btn").click();
    })
  {% endif %}


</script>

  <style>
    .card-header {
      cursor: pointer;
    }
    .card-content {
      display: none;
    }
  </style>


{% endblock %}


