{% extends 'home/base.html'%}

{% block title%}Kirei{% endblock %}
{% block content %}


{% load static %}


<div class="glide">
  <div class="glide__track mx-0" data-glide-el="track">
    <ul class="glide__slides">
      <li class="glide__slide">
        <div class="ratio ratio-16x9">
          <img src="{% static 'home/images/banner01.png' %}" alt="Slide 1" class="img-fluid">
        </div>
      </li>
      <li class="glide__slide">
        <div class="ratio ratio-16x9">
          <img src="{% static 'home/images/banner05.png' %}" alt="Slide 2" class="img-fluid">
        </div>
      </li>
      <li class="glide__slide">
        <div class="ratio ratio-16x9">
          <img src="{% static 'home/images/banner02.png' %}" alt="Slide 3" class="img-fluid">
        </div>
      </li>
    </ul>
  </div>
  <div class="glide__arrows" data-glide-el="controls">
  </div>
</div>



<div class="row text-center" id="mission-title">
  <div class="col">
    <h2 class="display-4 fw-bold">STYLING DE MANOS, CEJAS, PESTAÑAS Y MUCHO MÁS</h2>
    <p class="lead">Somos la solución más eficiente en belleza, cosmética, salud y cuidado personal en Capital Federal.</p>
  </div>
</div>

<!-- secciones -->
<div class="row" id="banner04">
  <img src="../static/home/images/banner04.png" class="m-0 p-0" alt="...">
</div>


<!-- Servicios -->

<div class="text-center bg-grey row" id="servicios">
  <h2>Nuestros servicios</h2>
  <div class="row text-center">
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="../static/home/images/serv2.png" alt="pestanias">
        <p><strong>Lifting de pestañas</strong></p>
        <p>Con esta técnica tus pestañas obtendrán un look de alargamiento y ligeramente curvado </p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="../static/home/images/serv7.jpg" alt="Rellenos con Acido Hialuronico">
        <p><strong>Rellenos con Acido Hialuronico</strong></p>
        <p>Ideal para aumentar volúmenes y grandes defectos o déficit de volumen faciales</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="../static/home/images/serv3.webp" alt="Punta de diamante">
        <p><strong>Punta de diamante</strong></p>
        <p>La punta de diamante permite tratar en suavemente la piel, con un arrastre uniforme y controlado</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="../static/home/images/serv4.jpg" alt="Nails">
        <p><strong>Gel & Kapping Nails</strong></p>
        <p>Ideal para lucir tus uñas por más tiempo y más fuertes.</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="../static/home/images/serv6.webp" alt="Limpieza Facial">
        <p><strong>Limpieza Facial</strong></p>
        <p>Mejora el aspecto de la piel, remueve células muertas, toxinas, imperfecciones y puntos negros.</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="../static/home/images/serv1.jpg" alt="cejas">
        <p><strong>Diseño de cejas</strong></p>
        <p>Trabajamos con una técnica exclusiva que respeta y realza tu fisonomía.</p>
      </div>
    </div>
  </div>
  <br>
  <div class="text-center">
    <button class="btn mx-auto d-block my-3">
      <a href="{% url 'home:services' %}" style="text-decoration: none; color: inherit;">Ver más</a>
    </button>
  </div>
  
  <br>
</div>
{% load crispy_forms_tags %}
<div class="row" id="contact-form-div-form">
  <div class="col-md-6 d-flex align-items-center text-center justify-content-center" id="contact-title">
      <h2 class="fs-4 card-title fw-bold mb-3 text-center text-uppercase">Contacto</h2>
  </div>
  {% if contact_form %}
  <div class="col-md-6">
    <form class="form-group contact-form " action="{% url 'home:index' %}" method="POST">
      {% csrf_token %}
      {{contact_form|crispy}}
      {% comment %} {{ contact_form.as_p }}                 {% endcomment %}
      <button class="btn d-flex justify-content-center mx-auto w-25" type="submit" name="contact_form_submit">Enviar</button>
    </form>
  </div>
</div>
{% endif %}


{% include 'customers/login.html' %} 
{% include 'customers/register.html' %}
<script>
  new Glide('.glide', {
    type: 'carousel',
    perView: 1,
    autoplay: 2500,
    animationDuration: 500
  }).mount();

  {% if value %}
    document.addEventListener("DOMContentLoaded", function() {
      document.getElementById("modal-open-login-btn").click();
    })
  {% endif %}

  {% if value_signup %}
    document.addEventListener("DOMContentLoaded", function(){
      document.getElementById("modal-open-register-btn").click();
    })
  {% endif %}
</script>

{% endblock %}


