{% extends 'home/base.html'%}

{% block title%}Kirei{% endblock %}
{% block content %}


{% load static %}


<div class="glide">
  <div class="glide__track mx-0" data-glide-el="track">
    <ul class="glide__slides">
      <li class="glide__slide">
        <div class="ratio ratio-16x9">
          <img src="{% static 'home/images/banner01.png' %}" alt="Slide 1" class="img-fluid">
        </div>
      </li>
      <li class="glide__slide">
        <div class="ratio ratio-16x9">
          <img src="{% static 'home/images/banner05.png' %}" alt="Slide 2" class="img-fluid">
        </div>
      </li>
      <li class="glide__slide">
        <div class="ratio ratio-16x9">
          <img src="{% static 'home/images/banner02.png' %}" alt="Slide 3" class="img-fluid">
        </div>
      </li>
    </ul>
  </div>
  <div class="glide__arrows" data-glide-el="controls">
  </div>
</div>


<div class="row text-center" id="mission-title">
  <div class="col">
    <h2 class="display-3 fw-bold" style="font-family: 'Barlow Semi Condensed', sans-serif;">STYLING DE MANOS, CEJAS, PESTAÑAS Y MUCHO MÁS</h2>
    <p class="lead mt-4 mx-5 px-5">Somos la solución más eficiente en belleza, cosmética, salud y cuidado personal en Capital Federal.</p>
  </div>
</div>

<!-- secciones -->
<div class="row" id="banner04">
  <img src="../static/home/images/banner04.png" class="m-0 p-0" alt="...">
</div>


<!-- Servicios -->

<div class="text-center bg-grey row" id="servicios">
  <h2 class="display-2 fw-bold text-uppercase mt-4 mb-5 pt-4 pb-5" style="font-size: 4rem!important;font-family: 'Barlow Semi Condensed', sans-serif;">Nuestros servicios</h2>

  <div class="row text-center">
    <div class="col-sm-4 mb-5">
      <div class="thumbnail">
        {% comment %} <img src="../static/home/images/serv2.png" alt="pestanias"> {% endcomment %}
        <img src="../static/home/images/serv2.png" alt="pestanias" style="border-radius: 50%; width: 300px; height: 300px;">


        <h3 class="my-3" style="font-family: 'Barlow Semi Condensed', sans-serif !important;"><strong>Lifting de pestañas</strong></h3>
        <p class="mx-5 px-4">Con esta técnica tus pestañas obtendrán un look de alargamiento y ligeramente curvado </p>
      </div>
    </div>
    <div class="col-sm-4 mb-5">
      <div class="thumbnail">
        <img src="../static/home/images/serv7.jpg" alt="Rellenos con Acido Hialuronico" style="border-radius: 50%; width: 300px; height: 300px;">
        <h3 class="my-3" style="font-family: 'Barlow Semi Condensed', sans-serif !important;"><strong>Ácido Hialurónico</strong></h3>
        <p class="mx-5 px-4">Ideal para aumentar volúmenes y corregir grandes defectos o déficit de volumen faciales</p>
      </div>
    </div>
    <div class="col-sm-4 mb-5">
      <div class="thumbnail">
        <img src="../static/home/images/serv3.webp" alt="Punta de diamante" style="border-radius: 50%; width: 300px; height: 300px;">
        <h3 class="my-3" style="font-family: 'Barlow Semi Condensed', sans-serif !important;"><strong>Punta de diamante</strong></h3>

        <p class="mx-5 px-4">La punta de diamante permite tratar en suavemente la piel, con un arrastre uniforme y controlado</p>
      </div>
    </div>
    <div class="col-sm-4 mb-5">
      <div class="thumbnail">
        <img src="../static/home/images/serv4.jpg" alt="Nails" style="border-radius: 50%; width: 300px; height: 300px;">
        <h3 class="my-3" style="font-family: 'Barlow Semi Condensed', sans-serif !important;"><strong>Gel & Kapping Nails</strong></h3>
        <p class="mx-5 px-4">Ideal para lucir tus uñas por más tiempo y más fuertes.</p>
      </div>
    </div>
    <div class="col-sm-4 mb-5">
      <div class="thumbnail">
        <img src="../static/home/images/serv6.webp" alt="Limpieza Facial" style="border-radius: 50%; width: 300px; height: 300px;">
        <h3 class="my-3" style="font-family: 'Barlow Semi Condensed', sans-serif !important;"><strong>Limpieza Facial</strong></h3>
        <p class="mx-5 px-4">Mejora el aspecto de la piel, remueve células muertas e imperfecciones.</p>

      </div>
    </div>
    <div class="col-sm-4 mb-5">
      <div class="thumbnail">
        <img src="../static/home/images/serv1.jpg" alt="cejas" style="border-radius: 50%; width: 300px; height: 300px;">
        <h3 class="my-3" style="font-family: 'Barlow Semi Condensed', sans-serif !important;"><strong>Diseño de cejas</strong></h3>
        <p class="mx-5 px-4">Trabajamos con una técnica exclusiva que respeta y realza tu fisonomía.</p>
      </div>
    </div>
  </div>
  <br>
  <div class="text-center">
    <button class="btn mx-auto d-block my-3 px-5">
      <a href="{% url 'home:services' %}" style="text-decoration: none; color: inherit;">Más servicios</a>
    </button>
    
  </div>
  
  <br>
</div>
{% load crispy_forms_tags %}
<div class="row" id="contact-form-div-form">
  <div class="col-md-6 d-flex align-items-center text-center justify-content-center" id="contact-title">
      <h2 class="fs-4 fw-bold mb-3 text-center text-uppercase" style="font-size: 50px !important;">Contacto</h2>
  </div>
  {% if contact_form %}
  <div class="col-md-6">
    <form class="form-group contact-form " action="{% url 'home:index' %}" method="POST">
      {% csrf_token %}
      {{contact_form|crispy}}
      {% comment %} {{ contact_form.as_p }}                 {% endcomment %}
      <button class="btn d-flex justify-content-center mx-auto w-25" type="submit" name="contact_form_submit">Enviar</button>
    </form>
  </div>
</div>
{% endif %}


<div id="whatsapp-icon-container" style="position: fixed; right: 20px; bottom: 20px;">
  <a style="text-decoration: none; color: inherit;" href="https://api.whatsapp.com/send?phone=">
    <div style="display: flex; align-items: center;">
      <div style="background-color: #25D366; border-radius: 20px; padding: 5px 10px;">
        <span style="color: #FFFFFF;">¡Comunícate con nosotros!</span>
      </div>
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/WhatsApp.svg/240px-WhatsApp.svg.png" width="45" height="45">
    </div>
  </a>
</div>
{% comment %} 
{% include 'customers/login.html' %} 
{% include 'customers/register.html' %} {% endcomment %}
<script>
  new Glide('.glide', {
    type: 'carousel',
    perView: 1,
    autoplay: 2500,
    animationDuration: 500
  }).mount();



</script>

  {% endblock %}
