{% extends 'home/base.html' %}

{% block content %}


<div class="glide container mt-5 pt-5 mb-5">
  <div class="card">
    <div class="card-header pt-3">
      <h4>
        <strong>Nuestros servicios</strong>
      </h4>
    </div>
    <div class="card-body">
        <div class="row">
          <div class="glide-wrapper">
            <div class="glide__track" data-glide-el="track">
              <ul class="glide__slides">
                {% for category in categories %}
                <li class="glide__slide">
                  <div class="m-2 text-center" id="{{ category.id }}" data-concept="{{ category }}" style = "text-transform: uppercase; font-size: 20px;">{{ category }}</div>
                </li>
                {% endfor %}
              </ul>
            </div>
            <div class="glide__arrows" data-glide-el="controls">
              <button class="glide__arrow glide__arrow--left btn btn-light" data-glide-dir="<"><i class="fa fa-arrow-left"></i></button>
              <button class="glide__arrow glide__arrow--right btn btn-light" data-glide-dir=">"><i class="fa fa-arrow-right"></i></button>
            </div>
          </div>
        </div>
    </div>
    <div class="col-md-12">
      <div id="services">
        {% for service in services %}
        <div class="service mb-3" style="display: none" data-concept="{{ service.category }}">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">{{ service.service }}</h3>
              <p class="card-text">{{ service.description }}</p>
              <p class="card-text"><strong>Duración:</strong> {{ service.duration }} mins</p>
              <p class="card-text"><strong>Precio:</strong> ${{ service.price }}</p>
              <form method="POST" action="{% url 'appointments:choose_service' %}">
                {% csrf_token %}
                <input type="hidden" name="service" value="{{ service.id }}">
                {% comment %} <button id="add-service-btn" type="submit" class="btn btn-primary"> <strong><i class="bi bi-plus-square-fill"></i> Agregar servicio</strong></button> {% endcomment %}
              </form>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>


<script>

  const services = document.querySelectorAll('.service');
    // function to show services based on selected category
  const ss = function ss(categoryId) {
    const category = document.getElementById(categoryId);
    const concept = category.getAttribute("data-concept");
    services.forEach(function(service) {
      if (service.getAttribute('data-concept') === concept) {
        service.style.display = 'block';
      } else {
        service.style.display = 'none';
      }
    });
  }
   
function changeBackground(concept){
  const slides = document.querySelectorAll('.glide__slide')


  slides.forEach(function (div) {

    if (div.firstElementChild.getAttribute('data-concept') === concept) {
      //console.log("Changing background color for element:", div.firstElementChild);
      div.firstElementChild.style.background = "#C92E4F";
      div.firstElementChild.style.color = "white";
      div.firstElementChild.style.fontWeight = "bold";
    } else {
      //console.log("Resetting background color for element:", div.firstElementChild);
      div.firstElementChild.style.background ="transparent";
      div.firstElementChild.style.color = "black";
      div.firstElementChild.style.fontWeight = "normal";
    }
  });
}
  // set the background color of the default selected category to #C92E4F when the page loads
  const defaultCategory = document.getElementById("{{ categories.0.id }}");
  defaultCategory.style.background = "#C92E4F";
  defaultCategory.style.color = "white";
  defaultCategory.style.fontWeight = "bold";



  const glide = new Glide('.glide', {
    type: 'carousel',
    focusAt:'center',
    perView: 3,
    gap: 60,
    peek: 60,
    breakpoints: {
      768: {
        perView: 3,
        gap: 40,
        peek: 40
      },
      480: {
        perView: 1,
        gap: 40,
        peek: 40
      }
    }
  });
  
  glide.mount();
  const myGlides = Array.from(document.querySelectorAll('.glide__slide'))
  myGlides.concat(Array.from(document.querySelectorAll('.glide__slide.glide__slide--clone')))
  console.log(myGlides)
  myGlides.forEach( g =>{

    g.addEventListener("click", e =>{
      console.log(g)
      const concept = g.firstElementChild.getAttribute('data-concept')
      changeBackground(concept)
      ss(g.firstElementChild.getAttribute('id'));
    })
  })

// update the background color when the slide changes

glide.on('run.after', function () {
  const changeActiveSlide = document.querySelectorAll('.glide__slide.glide__slide--active');
    ss(changeActiveSlide[0].firstElementChild.getAttribute("id"));
  const selectedSlide = document.querySelectorAll('.glide__slide--active');
  const concept = selectedSlide[0].firstElementChild.getAttribute('data-concept');
  changeBackground(concept)
});


  ss("{{ categories.0.id }}");


  {% if value %}
    document.addEventListener("DOMContentLoaded", function() {
      document.getElementById("modal-open-login-btn").click();
    })
  {% endif %}

  {% if value_signup %}
    document.addEventListener("DOMContentLoaded", function(){
      document.getElementById("modal-open-register-btn").click();
    })
  {% endif %}


</script>





{% endblock %}


