{% extends 'home/base.html' %}
{% block content %}
<section class="h-100" id="login-seccion">
    <div class="container h-100">
        <div class="row justify-content-sm-center h-100">
              <div class="col-xxl-5 col-xl-7 col-lg-6 col-md-8 col-sm-10">
                <div class="card shadow-lg">
                    <div class="card-body p-5">
						<div class="d-flex flex-column">
							<h1 class="fs-4 card-title fw-bold mb-4">Se envió el email para cambiar tu contraseña.</h1>
							<p class="m-auto p-2">
							  Si no te llega nada, por favor asegurate que ingresaste el email correcto y además buscá en tu carpeta de Spam.
							</p>
							<p class="m-auto p-2"><a class="text-dark" href="{% url 'home:index' %}">Volver a la pagina de inicio</a></p>
					  </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}