{% extends 'home/base.html' %}

{% block content %}

{% load crispy_forms_tags %}    

<!--Reset Password-->
<section class="h-100" id="login-seccion">
    <div class="container h-100">
        <div class="row justify-content-sm-center h-100">
              <div class="col-xxl-5 col-xl-7 col-lg-6 col-md-8 col-sm-10">
                <div class="card shadow-lg">
                    <div class="card-body p-5">
                        <h1 class="fs-4 card-title fw-bold mb-4">¿Olvidaste tu contraseña?</h1>
                        <hr>
                        <p>Ingresá el e-mail con el que te registrate y te enviaremos los pasos a seguir para generar una nueva contraseña</p>
                        <form method="POST">
                            {% csrf_token %}
                            {% crispy password_reset_form %}  
                        
                            <div class="mb-3">
                                <div class="d-flex align-items-center justify-content-center">
                                    <button type="submit" class="btn btn-primary">
                                        Enviar link
                                    </button>
                                </div>
                            </div>    
                            
                        </form>
                        <div class="card-footer py-3 border-0 mt-3">
                            <div class="text-center ">
                               Recordaste tu contraseña?<a href="../login" class="text-dark"> Ingresá</a>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
        </div>
    </div>
</section>

{% endblock %}