{% extends "home/base.html" %}

{% block content %} 

<section class="h-100" id="login-seccion">
    <div class="container h-100">
        <div class="row justify-content-sm-center h-100">
              <div class="col-xxl-5 col-xl-7 col-lg-6 col-md-8 col-sm-10">
                <div class="card shadow-lg">
                    <div class="card-body p-5">
						<div class="d-flex flex-column">
							<h1 class="fs-4 card-title fw-bold mb-4">Se cambió la contraseña exitosamente.</h1>
							<a href="{% url 'home:index' %}" class="btn btn-primary ms-auto">Ya podes iniciar sesion</a>
					  </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}