{% extends "home/base.html" %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container py-5 my-5">
   <div class="row">
      <div class="col-lg-4">
         <div class="card mb-4">
            <div class="card-body text-center">
               <img src="{% static 'customers/img/default_image_profile.jpeg'%}" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
               <h2 class="mb-1">{{user.first_name}} {{user.last_name}} </h2>
               <p class="text-muted mb-2">{{user.email}}</p>
               <p class="text-muted mb-2">Último Ingreso: {{user.last_login}}</p>
            </div>
            <div class="card-header" id="headingOne"  data-target="#collapseOne" onclick="window.location.href='/profile/';">
               <h5 class="mb-0">
                  <i class="fa fa-id-card"></i> Mi Perfil 
               </h5>
            </div>
            <div class="card-header" id="headingOne"  data-target="#collapseOne" onclick="window.location.href='/booking/all/';">
               <h5 class="mb-0">
                  <i class="fa fa-calendar-check-o"></i> Mis Reservas
               </h5>
            </div>
            <div class="card-header" id="headingOne"  data-target="#collapseOne" onclick="window.location.href='/order/all/';">
               <h5 class="mb-0">
                  <i class="fa fa-shopping-bag "></i> Mis Compras 
               </h5>
            </div>
         </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            {% if orders %}
                            {% for order in orders %}
                            <div class="container mb-3">
                                <div class="card">
                                  <div class="card-header">
                                    <h5><span>{{ order.created_at|date }} | #{{ order.id }}</span></h5>
                                  </div>
                                  {% for product_payment in order.payment.productpayment_set.all %} 
                                  <div class="list-item  py-3 px-4 d-flex align-items-center border">
                                    <div class="list-item__product d-flex align-items-center mb-4">
                                        <div class="list-item__image mr-3">
                                          <img src="{{ product_payment.product.image.url }}" alt="{{ product_payment.product.name }}" class="img-fluid" style="max-width: 80px; height: auto;">
                                        </div>
                                        <div class="list-item__data ml-4 mr-1" style="width: 22vw;">
                                          <p class="list-item__link mb-1">
                                            <span>{{ product_payment.product.name }} </span>
                                          </p>
                                          <p class="list-item__info mb-1">
                                            <span>{{ product_payment.quantity }} unidad(es)</span>
                                          </p>
                                        </div>
                                        <div class="bf-ui-button-container d-flex justify-content-center align-items-center flex-column my-2 ">
                                            <a href="{% url 'orders:all_order_detail' order_id=order.id product_id=product_payment.product_id %}" class="btn btn-primary my-2 mr-2 w-100">Ver compra</a>
                                            <a href="{% url 'products:product_detail' product_name=product_payment.product.name|slugify product_id=product_payment.product_id %}" class="btn btn-custom my-2 w-100 bg-secondary">Volver a comprar</a>
                                            <a href="{% url 'invoices:generate_invoice' order_id=order.id product_id=product_payment.product_id%}" target="_blank" class="btn bg-dark my-2 mr-2 w-100">Descargar factura</a>
                                       </div>
                                      </div> 
                                  </div>
                                  {% endfor %} 
                                </div>
                              </div>
                            {% endfor %}
                           
                            {% else %}
                            <p>No has realizado ninguna compra aún.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
   </div>
</div>
</div>
</div>
</div>
{% endblock%}
   