{% extends 'staff/base.html'%}
{% block breadcrumb-item %}<a class="breadcrumb-item" href="{% url 'agendas:all_agenda'%}">Agendas</a>{% endblock %}
{% block breadcrumb-item-active %}Todas las agendas{% endblock %}
{% block content %}
<div class="d-flex justify-content-between align-items-center mb-3">
    <h1 class="h3 mb-0 text-gray-800 d-inline-block align-middle">Todas las agendas</h1>
    <a href="{% url 'agendas:create_agenda' %}" class="btn btn-primary btn-lg"><i class="bi bi-plus-square-fill"></i> Nueva agenda</a>
</div>

<div class="row">
    {% for agenda in agendas %}
    <div class="col-xl-3 col-md-6 mb-4" id="card-{{ agenda.pk }}">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text font-weight-bold text-primary text-uppercase mb-1">
                            {{ agenda.professional }}</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">Horario: LU-VI de {{ agenda.start_time }} - {{ agenda.end_time }}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                </div>
                <div class="row no-gutters align-items-center mt-3 more-details" style="display: none;">
                    <div class="col-md-12">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Más detalles:</div>
                    </div>
                    <div class="col-md-12 mt-3">
                        <a href="{% url 'agendas:day_modification' agenda.pk %}" class="btn btn-warning m-2">Modificación por día <i class="bi bi-calendar-date"></i></a>
                        <a href="{% url 'agendas:edit_agenda' agenda.pk %}" class="btn btn-success m-2">Editar Horario <i class="bi bi-clock"></i></a>
                        <button type="button" class="btn btn-danger delete-agenda m-2" data-id="{{ agenda.pk }}">Eliminar Agenda <i class="bi bi-trash"></i></button>
                    </div>
                      <div class="col-md-12 text-right">
                          <button type="button" class="btn btn-info see-less"><i class="bi bi-chevron-up"></i></button>
                      </div>
                </div>
                <div class="row no-gutters align-items-end mt-3">
                    <div class="col-md-12 text-right">
                        <button type="button" class="btn btn-info see-more"><i class="bi bi-chevron-down"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<script>
  
  $(function() {
    // Show more details when "See More" button is clicked
    $('.see-more').on('click', function() {
      var cardBody = $(this).closest('.card-body');
      cardBody.find('.more-details').show();
      $(this).hide();
    });

    $('.see-less').on('click', function() {
      var cardBody = $(this).closest('.card-body');
      cardBody.find('.more-details').hide();
      $('.see-more').show();
    });

    
// Handle the delete of an agenda
$('.delete-agenda').on('click', function() {
    var agendaId = $(this).data('id');
    var csrftoken = getCookie('csrftoken'); // get the CSRF token value from the cookie
  
    Swal.fire({
      title: '¿Estás seguro que desea eliminar esta agenda?',
      icon: 'warning',
      showCancelButton: true,
      confirmButtonText: 'Sí, eliminar',
      cancelButtonText: 'Cancelar',
    }).then((result) => {
      if (result.isConfirmed) {
        $.ajax({
          url: '/agenda/' + agendaId + '/delete/',
          type: 'post',
          headers: {'X-CSRFToken': csrftoken}, // include the CSRF token in the header
          success: function(data) {
            location.href = location.href;
            window.location.href = '/agenda/all';
            location.replace(location.href); // Simulate a page refresh
          },
          error: function(xhr, textStatus, errorThrown) {
            console.log(xhr.responseText);
          }
        });
      }
    });
  });
  
  // Function to get the value of the CSRF token from the cookie
  function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
  }
  
    
});
   
 </script>

{% endblock %}
