{% extends 'staff/dashboard.html'%}
{% block title %}Modificar agenda por día{% endblock %}
{% block content %}
{% load crispy_forms_tags %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<div class="card shadow mb-4">
  
  <div class="card-body">
    <div class="row justify-content-sm-center h-100">
      <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
        <form method="POST" class="needs-validation" novalidate="" autocomplete="off">
          <div class="mb-3">
                {% csrf_token %}
                {{ form|crispy }}
          </div>
          <div class="mb-3">
            <div class="d-flex align-items-center">
                <button type="submit" class="btn btn-primary ms-auto">
                    Guardar
                </button>
            </div>
          </div>    
      </form>
      </div>
  </div>
  </div>
</div>
  
<!-- activate the date picker on the input field with class "datepicker" -->
<script>
  $(document).ready(function() {
      $('.datepicker').datepicker({
          format: 'yyyy-mm-dd',
          autoclose: true,
          todayHighlight: true,
          orientation: 'bottom',
          zIndexOffset: 1000,
      });
  });
  </script>
{% endblock %}