{% extends 'staff/base.html'%}
{% block breadcrumb-item %}<a class="breadcrumb-item" href="{% url 'agendas:all_agenda'%}">Agendas</a>{% endblock %}
{% block breadcrumb-item-active %}Modificar agenda por día{% endblock %}
{% block title %}Modificar agenda por día{% endblock %}
{% block content %}
{% load crispy_forms_tags %}


<div class="card shadow mb-4">
  
  <div class="card-body">
    <div class="row justify-content-sm-center h-100">
      <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
        <form method="POST" action="" class="needs-validation" autocomplete="off" id= "modification-agenda-form">
          <div class="mb-3">
                {% csrf_token %}
                {{ form|crispy }}
          </div>
          <div class="mb-3">
            <div class="d-flex align-items-center">
                <button id="submit_save_modification" type="submit" class="btn btn-primary ms-auto">
                    Guardar
                </button>
            </div>
          </div>    
      </form>
      </div>
  </div>
  </div>
</div>
  

 
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const submitBtn = document.querySelector("#submit_save_modification");
    const form = document.querySelector("#modification-agenda-form");
    const dateInput = document.querySelector("#id_date");
    const startTimeInput = document.querySelector("#id_start_time");
    const endTimeInput = document.querySelector("#id_end_time");
    const availableCheckbox = document.querySelector("#id_available");
  
    submitBtn.addEventListener("click", async (event) => {
      event.preventDefault();
  
      if (!dateInput.value) {
        Swal.fire({
          title: "Error",
          text: "Debe seleccionar una fecha.",
          icon: "error",
          showCloseButton: true,
          showConfirmButton: false
        });
        return;
      }
  
      if (dateInput.value && availableCheckbox.checked && (!startTimeInput.value || !endTimeInput.value)) {
        Swal.fire({
          title: "Error",
          text: "Debe seleccionar una hora de inicio y una hora de fin.",
          icon: "error",
          showCloseButton: true,
          showConfirmButton: false
        });
        return;
      }
  
      try {
        const response = await fetch("{% url 'agendas:day_modification' pk=agenda.pk %}", {
          method: "POST",
          body: new FormData(form),
        });
  
        if (response.ok) {
          await Swal.fire({
            title: "Se agregó la modificación exitosamente.",
            icon: "success",
            confirmButtonText: "OK",
          });
          window.location.href = "/agenda/all";
        } else {
          Swal.fire({
            title: "Error. Ya existe una modificación para este día.",
            text: "Si desea modificarla, elimínela y vuelva a crear una nueva.",
            icon: "error",
            showCloseButton: true,
            showConfirmButton: false,
          });
          window.location.href = "/agenda/all";
        }
      } catch (error) {
        Swal.fire({
          title: "Error",
          text: "Intente más tarde o comuníquese con el Administrador.",
          icon: "error",
          showCloseButton: true,
          showConfirmButton: false,
        });
        window.location.href = "/agenda/all";
      }
    });
  
    dateInput.addEventListener("change", () => {
      if (dateInput.value && !availableCheckbox.checked) {
        $("#div_id_start_time").hide();
        $("#div_id_end_time").hide();
        startTimeInput.value = ""; // Clear the selected start_time value
        endTimeInput.value = ""; // Clear the selected end_time value
      }
    });
  
    $(document).ready(function() {
      // hide the start_time and end_time fields initially
      $("#div_id_start_time").hide();
      $("#div_id_end_time").hide();
  
      // show or hide the start_time and end_time fields based on the value of the available checkbox
      $("#id_available").change(function() {
        if ($(this).is(":checked")) {
          $("#div_id_start_time").show();
          $("#div_id_end_time").show();
        } else {
          $("#div_id_start_time").hide();
          $("#div_id_end_time").hide();
          startTimeInput.value = ""; // Clear the selected start_time value
          endTimeInput.value = ""; // Clear the selected end_time value
        }
      });
    });
  
    $(document).ready(function() {
      $('.datepicker').datepicker({
        format: 'dd/mm/yyyy',
        autoclose: true,
        todayHighlight: true,
        orientation: 'bottom',
        zIndexOffset: 1000,
      });
    });
  });
  
</script>
 

{% endblock %}