{% extends 'staff/base.html'%}
{% block breadcrumb-item %}<a class="breadcrumb-item" href="{% url 'agendas:all_agenda'%}">Agendas</a>{% endblock %}
{% block breadcrumb-item-active %}Editar agenda{% endblock %}
{% block title %}Editar agenda{% endblock %}
{% block content %}
{% load crispy_forms_tags %}

<div class="card shadow mb-4">
  
  <div class="card-body">
    <div class="row justify-content-sm-center h-100">
      <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
        <form method="POST" class="needs-validation" novalidate="" autocomplete="off">
          <div class="mb-3">
                {% csrf_token %}
                {{ form|crispy }}
          </div>
          <div class="mb-3">
            <div class="d-flex align-items-center">
                <button type="submit" class="btn btn-primary m-1">
                    Guardar
                </button>
                <a href="{% url 'agendas:all_agenda' %}" class="btn btn-secondary m-1">
                  Cancelar
                </a>
                
            </div>
          </div>    
      </form>
      </div>
  </div>
  </div>
</div>
  

{% endblock %}