/* General */
* {
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
   
}


body {
    margin: 0;
    background-color: #e4e0e1 !important;
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    overflow-x:hidden !important;

}

a {
    text-decoration: none;
    color: black;
}

a :hover {
    color: black;
}

/* Navbar */


 .navbar.navbar-fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030;
    background-color: #e4e0e1;
    font-family: Montserrat, sans-serif;
  }

 
  

.navbar-brand>img {
    max-width: 33% !important;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}

#navbarNav3 ul li{
    margin-left: 15px !important; 
}


.btn-booking {
    font-weight: 500;
    border-width: 1px;
    border-style: solid;
    border-color: #C92E4F;
  }
  
  .btn-profile {
    font-weight: 500;
    border-width: 1px;
    border-style: solid;
    border-color: #C92E4F;
    color: black;
    background-color: #7f7f7f !important;
  }

  

/*Mision*/
#mission-title{
    padding: 5% 20%;
    font-family: Montserrat, sans-serif;
    background-color:#d36378 ;
    color: #e4e0e1;
    

}
/* Servicios */

#servicios {
    padding-top: 45px;
    padding-bottom: 30px;
    background-image: linear-gradient(#D98B9D,#d36378);
    font-family: 'Montserrat', sans-serif;
    color: #e4e0e1;

}

#servicios h2{
    padding-bottom: 45px;
    font-size: 35px;
    font-weight: 600;
    

}


.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

.thumbnail img {
    width: 400px;
    height: 255px;
    margin-bottom: 10px;
}

/* ContactForm */
textarea.form-control{
    height: 105px !important;
}

#contact-title{
    background-color:#472333;
    color: #d98b9d;
}
#contact-form-div-form{
    padding: 4em;
    background-color: #472333;
    color: #d98b9d;
    font-weight: 500;
}

h2.card-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px !important;
}


/*Footer*/

.footer-brand>img  {
    max-width: 18%;
    max-height: 18%;
}

.widget-title-uppercase {
    text-transform: uppercase!important;
  }

.social-icon {
    font-size: 1.5em!important;
    color: #e4e0e1!important;
    margin: 2px 0px!important;
  }

.footer-copyright{
    font-size: 0.85em;
    background: #e4e0e1 !important;
}



.btn-imagen{
    position: absolute;
  top: 77%;
  left: 81%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: transparent;
  font-size: 16px;
  padding: 12px 304px;
  border: none;
  cursor: pointer;
  
}

