{% extends "home/base.html" %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<div class="container py-5 my-5">
  <div class="container-breadcrumb pt-6 mt-6">
    <nav class="breadcrumb">
      <a class="breadcrumb-item text-secondary" href="/"><i class="bi bi-house-fill"></i></a>
      <span class="breadcrumb-item active">Mis Reservas</span>
    </nav>
  </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="card mb-4">
                <div class="card-body text-center">
                    <img src="{% static 'customers/img/default_image_profile.png'%}" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                    <h2 class="mb-1">{{user.first_name}} {{user.last_name}} </h2>
                    <p class="text-muted mb-2">{{user.email}}</p>
                    <p class="text-muted mb-2">Último Ingreso: {{user.last_login}}</p>

                    
                </div>
                <div class="card-header" id="headingOne"  data-target="#collapseOne" onclick="window.location.href='/profile/';">
                  <h5 class="mb-0">
                    <i class="fa fa-id-card"></i> Mi Perfil 
                  </h5>
                </div>
                <div class="card-header" id="headingOne"  data-target="#collapseOne" onclick="window.location.href='/booking/all/';">
                  <h5 class="mb-0">
                      <i class="fa fa-calendar-check-o"></i> Mis Reservas
                  </h5>
                </div>
                <div class="card-header" id="headingOne"  data-target="#collapseOne" onclick="window.location.href='/order/all/';">
                  <h5 class="mb-0">
                    <i class="fa fa-shopping-bag "></i> Mis Compras 
                  </h5>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                          <div class="col-xs-12">
                            <div class="table-responsive">
                              {% if grouped_appointments %}
                              <table summary="" class="table table-bordered table-hover">
                                <thead>
                                  <tr style="text-align: center; ">
                                    <th>Fecha</th>
                                    <th>Profesional</th>
                                    <th>Servicio</th>
                                    <th>Horario</th>
                                    <th>Cancelar reserva</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    {% for group in grouped_appointments %}
                                        {% with appointment=group.appointments.0 %}
                                            <tr style="text-align: center;">
                                                <td>{{ group.date }}</td>
                                                <td>{{ group.professional }}</td>
                                                <td>{{ group.service }}</td>
                                                <td>{{ appointment.start_time }}</td>
                                                <td>
                                                    <span class="btn btn-primary">
                                                        <a style="color:white; font-style: normal !important;" href="{% url 'appointments:cancel_appointment' %}?ids={% for appointment in group.appointments %}{{ appointment.id }}{% if not forloop.last %},{% endif %}{% endfor %}">
                                                            <i class="bi bi-trash"></i>
                                                        </a>
                                                    </span>
                                                </td>
                                            </tr>
                                        {% endwith %}
                                    {% endfor %}
                                </tbody>  
                              </table>
                              {% else %}
                                <h3>Todavía no hay turnos agendados.</h3>
                                <button type="button" class="btn btn-primary mx-3" onclick="window.location.href='/booking/service/';">Reservar turno</button>
                            {% endif %}
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=XMLHttpRequest,FormData"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% comment %} <script>

    function toggleAccordion(target) {
        // Get the element with the given target
        const element = document.querySelector(target);
        if (!element) return;
      
        // Check if the element is currently collapsed or expanded
        const isCollapsed = element.classList.contains("show");
      
        // Collapse all the other accordion cards
        const accordions = document.querySelectorAll(".collapse");
        accordions.forEach((accordion) => {
          if (accordion.id !== element.id && accordion.classList.contains("show")) {
            accordion.classList.remove("show");
          }
        });
      
        // Toggle the clicked accordion card
        if (isCollapsed) {
          element.classList.remove("show");
        } else {
          element.classList.add("show");
        }
    }

    document.addEventListener('DOMContentLoaded', function() {
        // Handle form submit event
        function handleFormSubmit(formId, formType) {
          var form = document.querySelector(formId);
          form.addEventListener('submit', function(event) {
            event.preventDefault(); // Prevent default form submit behavior
            var form_data = new FormData(this); // Get form data
            form_data.append('form_type', formType); // Add form type
            var xhr = new XMLHttpRequest();
            xhr.open(this.method, this.action);
            xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
            xhr.onload = function() {
              if (xhr.status === 200) {
                var response = JSON.parse(xhr.response);
                if (response.success) { // Check if form submission was successful
                  // Display success message
                  Swal.fire({
                    icon: 'success',
                    title: 'Se actualizaron los datos exitosamente!',
                  }).then((result) => {
                    window.location.href = '/profile';
                  });

                } else { // Handle form validation errors
                  // Parse error messages from JSON response
                  var error_dict = JSON.parse(response.error);
                  var error_messages = '';
                  for (var key in error_dict) {
                    error_messages += ' - ' + error_dict[key][0].message + '<br>';
                  }
                  // Display error message
                  Swal.fire({
                    icon: 'error',
                    title: 'Error :(',
                    html: error_messages,
                  }).then((result) => {
                    window.location.href = '/profile';
                  });
                }
              } else { // Handle error response
                
                Swal.fire({
                    icon: 'error',
                    title: 'Error :(',
                    text: 'Ocurrió un error al intentar guardar los cambios. Por favor, vuelva a intentar más tarde.',
                  }).then((result) => {
                    window.location.href = '/profile';
                  });

              }
            };
            xhr.onerror = function() { // Handle network error
              // Display error message
              Swal.fire({
                icon: 'error',
                title: 'Error :(',
                text: 'Ocurrió un error al intentar guardar los cambios. Por favor, vuelva a intentar más tarde.',
              }).then((result) => {
                window.location.href = '/profile';
              });
            };
            xhr.send(form_data); // Send form data
          });
        }
        
        handleFormSubmit('#personal-info-form', 'personal_info');
        handleFormSubmit('#change-password-form', 'change_password');
      });
      
      
</script> {% endcomment %}


 

{% endblock%}
