{% extends "home/base.html" %}
{% block content %}
<div class="container mt-5 pt-5" style="height:74vh !important;">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card p-4">
       <h5 class="card-title mb-4 text-center"> <strong>Su cita ha sido agendada exitosamente y se encuentra pendiente de pago.</strong> </h5>
            <p class="card-text"><strong>Profesional:</strong> {{ professional }}</p>
            <p class="card-text"><strong>Servicio:</strong> {{ service }}</p>
            <p class="card-text"><strong>Fecha y hora:</strong> {{ start_date_time }} horas</p>
        <div class="card-header">
            <p class="card-text text-center"><strong>Realice el pago en efectivo en el local.</strong></p>  
        </div>
        <div class="mt-5 text-center">
            <a href="{% url 'appointments:choose_service' %}" class="btn btn-primary mr-3">Reservar otra cita</a>
            <a href="{% url 'products:product_catalog' %}" class="btn appo-custom-btn">Comprar productos</a>
          </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}



