{% extends "home/base.html" %}
{% load static %}

{% block content %}
<div class="container pt-5 my-5" style = "height:100vh !important;">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header pt-4">
          <h4>
            <strong>Elegí el día</strong>
          </h4>
        </div>
        <div class="card-body">
          <div id="calendar"></div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/locale/es.js"></script>
<script src="{% static 'appointments/js/calendar.js' %}"></script> 
{% endblock %}


