{% extends "home/base.html" %}
{% load appointment_tags %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12 pt-5 my-5">
      <div id="calendar"></div>
    </div>
  </div>
</div>



<script>
  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
        headerToolbar: {
            start: 'prev,next today',
            center: 'title',
            end: 'dayGridMonth,timeGridWeek,timeGridDay'
        },
        initialView: 'dayGridMonth',
        editable: false,
        events: 'booking/calendar/',
        dateClick: function(info) {
            window.location.href = '/booking/slot/?date=' + info.dateStr;
        }
    });

    calendar.render();
});

  </script>


  {% endblock %}

{% comment %} <h1>Elegí el horario</h1>
    {% for week in weeks %}
    <div>
        <button class="week-link" data-week-start-date="{{ week.dates.0 }}">{{ week.dates.0|format_date }} - {{ week.dates|last|format_date }}</button>
    </div>
    {% endfor %}


    <script>
    
    document.addEventListener('DOMContentLoaded', function() {
      const weekLinks = document.querySelectorAll('.week-link');
      weekLinks.forEach(function(link) {
        link.addEventListener('click', function(e) {
          e.preventDefault();
          const weekStartDate = this.dataset.weekStartDate;
          const url = "/booking/slot/?week_start_day="+weekStartDate;
          window.location.href = url;
        });
      });
    });
  </script>  {% endcomment %}
