{% extends "home/base.html" %}
{% load static %}

{% block content %}
  <div class="container">
    <h1>Checkout</h1>

    <div class="row">
      <div class="col-md-6">
        <h2>Detalles de la cita</h2>
        <p>Profesional: {{ professional }}</p>
        <p>Servicio: {{ service }}</p>
        <p>Fecha y hora: {{ start_time }} horas</p>
      </div>

      <div class="col-md-6">
        <h2>Detalles de pago</h2>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}

          <button type="submit" class="btn btn-primary">Pagar</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
