{% extends "home/base.html" %}
{% load appointment_tags %}

{% block content %}

<div class="container my-5 py-4" style = "height:69vh !important;">
    {% if possible_appointments %}
    <form method="POST" action="{% url 'appointments:choose_slot' %}">
        {% csrf_token %}
        <h4 class= "my-3"> 
           <strong>Elegí el horario</strong>
        </h4>
        <div class="row">
            <div class="col-12">
                {% for date, appts in possible_appointments.items %}
                    <div class="card mb-3">
                        <div class="card-header" role="button" data-toggle="collapse" data-target="#collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse{{ forloop.counter }}">
                            <h5 class="mb-0"><strong>{{ date }}</strong></h5>
                        </div>
                        <div id="collapse{{ forloop.counter }}" class="collapse">
                            <div class="card-body">
                                    <div class="btn-group-toggle" data-toggle="buttons">
                                            {% if date == date.today %}    
                                                {% for appt in appts %} 
                                                    {% if appt.start_time|is_after_now == 1%}                                   
                                                        <label class="btn btn-primary available my-2 mx-3 appo-custom-btn" data-start-time="{{ appt.start_time }}" data-end-time="{{ appt.end_time }}">
                                                            {% with time_format="H:i" %}
                                                                {{ appt.start_time|date:time_format }}
                                                            {% endwith %}
                                                        </label>
                                                        <style>
                                                            .btn-primary.available {
                                                                display: inline-block;
                                                            }
                                                        </style>  
                                                    {% else %}
                                                        <style>
                                                            .btn-primary.available {
                                                                display: none;
                                                            }
                                                        </style>
                                                        {% if forloop.last %}
                                                        <div class="empty-hours">*No hay más horarios disponibles para esta fecha.</div>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                            
                                            {% elif date != date.today %} 
                                                {% for appt in appts %}
                                                    <label class="btn btn-primary available my-2 mx-3 appo-custom-btn" data-start-time="{{ appt.start_time }}" data-end-time="{{ appt.end_time }}">
                                                        {% with time_format="H:i" %}
                                                            {{ appt.start_time|date:time_format }}
                                                        {% endwith %}
                                                    </label>
                                                {% endfor %}
                                            {% endif %}
                                    </div>
                            </div>                            
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        
        <input type="hidden" name="start_time" id="idInput1" class="start-time-input"/>
        <input type="hidden" name="end_time" id="idInput2" class="end-time-input"/>
        <a href="{% url 'appointments:calendar' %}" class="btn btn-danger mt-3" id="go-back-btn">Volver atrás</a>
        <button type="submit" class="btn btn-primary mt-3" id="next-btn" disabled>Reservar cita</button>

    </form>
    {% else %}
        <div class="empty-hours">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="empty-hours">
                        <h5 class="mb-0">*No hay horas disponibles para esta fecha.</h5></div>
                </div>
            </div>
        </div>
        <a href="{% url 'appointments:calendar' %}" class="btn btn-danger mt-3" id="go-back-btn">Volver atrás</a>
    {% endif %}
    

</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const availableButtons = document.querySelectorAll('.appo-custom-btn');
        const nextBtn = document.getElementById('next-btn');
        const cardHeaders = document.querySelectorAll('.card-header');
        const collapseDivs = document.querySelectorAll('.collapse');
        const inputStartTimeElement = document.getElementById('idInput1');
        const inputEndTimeElement = document.getElementById('idInput2');
        let inputStartTime, inputEndTime, activeButtons;
                
        availableButtons.forEach(function(button) {
            button.addEventListener('click', function() {
                
                this.classList.toggle('hour-active')


                //count active buttons
                activeButtons = document.querySelectorAll('.appo-custom-btn.hour-active');
                for(actBtn of activeButtons){
                    if(actBtn !== this)actBtn.classList.remove('hour-active')
                }

                if (activeButtons.length > 0) {
                    nextBtn.disabled = false;

                    inputStartTime=this.getAttribute('data-start-time');
                    inputEndTime=this.getAttribute('data-end-time');
                    inputStartTimeElement.value = inputStartTime;
                    inputEndTimeElement.value = inputEndTime;
                } else {
                    nextBtn.disabled = true;
                    inputStartTimeElement.value = '';
                    inputEndTimeElement.value = '';

                    // add "show" class to the corresponding collapse div
                    const parentCollapse = this.closest('.collapse');
                    if (parentCollapse) {
                        parentCollapse.classList.add('show');
                    }
                }
            });
        });

        // show the collapse div if no buttons are active
        if (document.querySelectorAll('.appo-custom-btn.hour-active').length === 0) {
            collapseDivs.forEach(function(collapse) {
                collapse.classList.add('show');
            });
        }
    });
</script>


{% endblock %}
