{% extends 'staff/base.html'%}

{% block breadcrumb-item %}<a class="breadcrumb-item" href="{% url 'staff:staff_appointments_dashboard'%}">Turnos</a>{% endblock %}
{% block breadcrumb-item-active %}Todos los turnos{% endblock %}
{% block content %}

{% include 'home/includes/messages.html' %}
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1 class="h3 mb-0 text-gray-800 d-inline-block align-middle">Todos los turnos</h1>
    </div>
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered text-center" id="dataTable" width="100%" cellspacing="0">
                    
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Profesional</th>
                            <th>Servicio</th>
                            <th>Horario</th>
                            <th>Cliente</th>
                            <th>Cancelar reserva</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Fecha</th>
                            <th>Profesional</th>
                            <th>Servicio</th>
                            <th>Horario</th>
                            <th>Cliente</th>
                            <th>Cancelar reserva</th>
                        </tr>
                    </tfoot>
                    
                    <tbody>
                        {% for group in grouped_appointments %}
                            {% with appointment=group.appointments.0 %}
                                <tr style="text-align: center;">
                                    <td>{{ group.date }}</td>
                                    <td>{{ group.professional }}</td>
                                    <td>{{ group.service }}</td>
                                    <td>{{ appointment.start_time }}</td>
                                    <td>{{ group.customer.first_name }} {{ group.customer.last_name}}</td>
                                    <td>
                                        <span class="btn btn-danger">
                                            <a style="color:white; font-style: normal !important;" href="{% url 'staff:staff_cancel_appointment' %}?ids={% for appointment in group.appointments %}{{ appointment.id }}{% if not forloop.last %},{% endif %}{% endfor %}">
                                                <i class="bi bi-trash"></i>
                                            </a>
                                        </span>
                                    </td>
                                </tr>
                            {% endwith %}
                        {% endfor %}
                
                    </tbody>  
                    
                </table>
            </div>
        </div>
    </div>

   
{% endblock %}