
{% comment %} {% if show_modal %} {% endcomment %}
{% if login_form %}
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Iniciar sesión</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="login-modal-btn">
            <span class = "close-modal" aria-hidden="true">&times;</span>
          </button>
        </div>
        <!-- Modal Body -->
        <div class="modal-body">
          {% load crispy_forms_tags %}
          <!-- Your Login Form Here -->
              <form action="{{ current_url }}" method="POST" class="needs-validation" novalidate="" autocomplete="off" enctype="multipart/form-data">   
              <div class="mb-3 mx-3">
                    {% csrf_token %}
                    <div class="form-group row">
                      <label class="form-label">{{ login_form.login.label_tag }}</label>
                        {{ login_form.login}}
                    </div>
                    <div class="form-group row">
                      <label class="form-label">{{ login_form.password.label_tag }}</label>
                        {{ login_form.password }}
                    </div>
                    <div class="d-flex align-items-center">
                      <a href="{% url 'customers:password_reset'%}" class="float-start">
                        Olvidé mi contraseña
                      </a>
                      <button type="submit" class="btn btn-primary ms-auto" name="login_form_submit">
                        Ingresar
                    </button>
                    </div>
                </div>  
            </form>
            <br>
            <br>
          </div>
          <div class="card bg-light py-3 border-0">
            <div class="header text-center">
              ¿No tenés cuenta? <a href="{% url 'customers:register'%}" class="text-dark"> Registrate </a>
            </div>
        </div>
        </div>
    </div>
  </div>
  {% endif %}