{% load static %}
{% if register_form %}

<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
    <div  class="modal-dialog" role="document">
      <div  class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="registerModalLabel">Registrate ahora</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="register-modal-btn">
            <span class = "close-modal" aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="register-form" action="{{ current_url }}" method="POST" class="needs-validation"  enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row">
              {% if register_form.errors %}
              <div class="alert alert-danger text-center">
                <ul class="errorlist nonfield">
                  {% for field_errors in register_form.errors.values %}
                    {% for error in field_errors %}
                      <li class="text-start">{{ error }}</li>
                    {% endfor %}
                  {% endfor %}
                </ul>
              </div>
              {% endif %}
              

                <div class="form-group col-md-6">
                  <label class= "form-label"> {{ register_form.first_name.label_tag }} </label>
                    {{ register_form.first_name }}
                    {% if register_form.first_name.help_text %}
                        <small class="form-text text-muted">{{ register_form.first_name.help_text }}</small>
                    {% endif %}
                </div>
                <div class="form-group col-md-6">
                  <label class= "form-label"> {{ register_form.last_name.label_tag }} </label>
                    {{ register_form.last_name }}
                    {% if register_form.last_name.help_text %}
                        <small class="form-text text-muted">{{ register_form.last_name.help_text }}</small>
                    {% endif %}
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                <label class= "form-label"> {{ register_form.email.label_tag }} </label>
                    {{ register_form.email }}
                    {% if register_form.email.help_text %}
                        <small class="form-text text-muted">{{ register_form.email.help_text }}</small>
                    {% endif %}
                </div>
                <div class="form-group col-md-6">
                <label class= "form-label"> {{ register_form.document_number.label_tag }} </label>
                    {{ register_form.document_number }}
                    {% if register_form.document_number.help_text %}
                        <small class="form-text text-muted">{{ register_form.document_number.help_text }}</small>
                    {% endif %}
                  </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label class= "form-label"> {{ register_form.area_code.label_tag }} </label>
                    {{ register_form.area_code }}
                    {% if register_form.area_code.help_text %}
                        <small class="form-text text-muted">{{ register_form.area_code.help_text }}</small>
                    {% endif %}
                </div>
                <div class="form-group col-md-6">
                  <label class= "form-label"> {{ register_form.phone_number.label_tag }} </label>
                    {{ register_form.phone_number }}
                    {% if register_form.phone_number.help_text %}
                        <small class="form-text text-muted">{{ register_form.phone_number.help_text }}</small>
                    {% endif %}
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label class= "form-label"> {{ register_form.password1.label_tag }} </label>
                    {{ register_form.password1 }}
                    {% if register_form.password1.help_text %}
                        <small class="form-text text-muted">{{ register_form.password1.help_text }}</small>
                    {% endif %}
                </div>
                <div class="form-group col-md-6">
                  <label class= "form-label"> {{ register_form.password2.label_tag }} </label>
                    {{ register_form.password2 }}
                    {% if register_form.password2.help_text %}
                        <small class="form-text text-muted">{{ register_form.password2.help_text }}</small>
                    {% endif %}
                </div>
              </div>
            <button type="submit" class="btn btn-primary ms-auto" name="register_form_submit">
              Registrarme
          </button>
          <br>
          <br>
          <br>
          </form>
        </div>
        <div class="card bg-light py-3 border-0">
          <div class="header text-center">
              Ya tenes una cuenta?<a id="login-link" class="text-dark" data-toggle="modal" data-target="#loginModal">Ingresá</a>
          </div>
      </div>
      </div>
      
    </div>
  </div>
  {% endif %}

  <script src="{% static 'customers/js/register.js' %}"></script> 
  
  